<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/application}">Applications</a></li>
        <li><a th:href="@{/application/{identifier}(identifier=${item.identifier})}" th:text="${item.title}">Application</a></li>
        <li class="active">Choose certificates</li>
    </ol>

    <div class="page-header">
        <h1>Choose certificates</h1>
    </div>

    <form method="post" th:action="${#httpServletRequest.requestURI}" th:object="${form}" class="form-horizontal">

        <div class="form-group" th:each="cert : ${list}">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" th:field="*{certificates}" th:value="${cert.identifier}"/> <span th:text="${cert.name}"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>

    </form>

</div>

</body>
</html>
