<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">

</div>

<div layout:fragment="content">

    <div class="page-header">
        <h1>New application</h1>
    </div>

    <form method="post" th:action="${#httpServletRequest.requestURI}" th:object="${form}" class="form-horizontal">

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="title" th:field="*{title}"/>
            </div>
        </div>

        <th:block th:include="forms :: submit('Save')"/>

    </form>

</div>

</body>
</html>
