<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/application}">Applications</a></li>
        <li><a th:href="@{/application/{identifier}(identifier=${item.identifier})}" th:text="${item.title}">Application</a></li>
        <li th:if="${!enabled}" class="active">Enable application</li>
        <li th:if="${enabled}" class="active">Disable application</li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="page-header">
        <h1 th:if="${!enabled}">Enable application</h1>
        <h1 th:if="${enabled}">Disable application</h1>
    </div>

    <form method="post" th:action="${#httpServletRequest.requestURI}" th:object="${form}" class="form-horizontal">

        <p th:if="${!enabled}" class="lead">Are you sure you want to enable the application <strong th:text="${item.title}">Application</strong>?</p>
        <p th:if="${enabled}" class="lead">Are you sure you want to disable the application <strong th:text="${item.title}">Application</strong>?</p>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Continue</button>
                <a th:href="@{/application/{identifier}(identifier=${item.identifier})}" class="btn btn-default">Cancel</a>
            </div>
        </div>

    </form>

</div>

</body>
</html>
