<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/application}">Applications</a></li>
        <li class="active" th:text="${item.title}">Application</li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="page-header">
        <h1 th:text="${item.title}">Application</h1>
    </div>

    <div th:if="${item.certificates.size() == 0 or processes.size() == 0}" class="jumbotron">
        <h1>Get started!</h1>
        <p>...</p>
        <p>
            <a th:if="${item.certificates.size() == 0}" th:href="@{/application/{identifier}/certificates(identifier=${item.identifier})}" class="btn btn-primary btn-lg" role="button">Choose certificates</a>
            <a th:if="${processes.size() == 0}" th:href="@{/application/{identifier}/processes(identifier=${item.identifier})}" class="btn btn-primary btn-lg" role="button">Choose processes</a>
        </p>
    </div>

    <th:block th:if="${item.certificates.size() > 0}">
        <h2>Certificates</h2>

        <div class="pull-right">
            <a th:href="@{/application/{identifier}/certificates(identifier=${item.identifier})}">Choose certificates</a>
        </div>

        <table class="table table-striped" id="certificates">
            <thead>
            <th>Name</th>
            <th style="width: 25%;">Serial number</th>
            </thead>
            <tbody>
            <th:block th:each="item : ${item.certificates}">
                <tr>
                    <td><a th:href="@{/certificate/{i}(i=${item.identifier})}" th:text="${item.name}"></a></td>
                    <td th:text="${item.serialNumber}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </th:block>

    <th:block th:if="${processes.size() != 0}">
        <h2>Processes</h2>

        <div class="pull-right">
            <a th:href="@{/application/{identifier}/processes(identifier=${item.identifier})}">Choose processes</a>
        </div>

        <table class="table table-striped" id="processes">
            <thead>
            <th>Process</th>
            <th>Domain</th>
            <th style="width: 25%;">Role</th>
            </thead>
            <tbody>
            <th:block th:each="item : ${processes}">
                <tr>
                    <td><a th:href="@{/process/{i}(i=${item.process.toVefa()})}" th:text="${item.process.title}"></a></td>
                    <td th:text="${item.process.domain.title}"></td>
                    <td th:text="${item.role}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </th:block>

</div>

</body>
</html>
