<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">Participants</li>
    </ol>

    <div class="page-header">
        <div class="pull-right" sec:authorize="hasAnyAuthority('ADMIN')">
            <a th:href="@{/participant/add}" class="btn btn-link">Add participant</a>
        </div>

        <h1>Participants</h1>
    </div>

    <div th:if="${list.totalElements == 0}" class="jumbotron">
        <h1>Get started!</h1>
        <p>...</p>
        <p><a th:href="@{/participant/add}" class="btn btn-primary btn-lg" role="button">Add participant</a></p>
    </div>

    <table th:if="${list.totalElements != 0}" class="table table-striped">
        <thead>
        <th style="width: 25%;">Identifier</th>
        <th>Title</th>
        <th style="width: 20%;">&nbsp;</th>
        </thead>
        <tbody>
        <th:block th:each="participant : ${list}">
            <tr>
                <td th:text="${participant.identifier}"></td>
                <td><a th:text="${participant.name}" th:href="@{/participant/{scheme}::{identifier}(scheme=${participant.scheme}, identifier=${participant.identifier})}">Participant name</a></td>
                <td style="text-align: right;">
                    <a th:href="@{/masquerade/perform/{scheme}::{identifier}(scheme=${participant.scheme}, identifier=${participant.identifier})}">Masquerade</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

</body>
</html>
