<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/participant}">Participants</a></li>
        <li class="active" th:text="${participant.name}">Participant</li>
    </ol>

    <div class="page-header">
        <h1 th:text="${participant.name}">Participant</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a class="gate btn btn-default"
               th:href="@{/participant/{ps}::{pi}/certificate(ps=${participant.scheme}, pi=${participant.identifier})}">
                <span th:text="${count_certificates}">0</span>
                certificates
            </a>
        </div>
        <div class="col-sm-4">
            <a class="gate btn btn-default"
               th:href="@{/participant/{ps}::{pi}/user(ps=${participant.scheme}, pi=${participant.identifier})}">
                <span th:text="${count_users}">0</span>
                users
            </a>
        </div>
    </div>

</div>

</body>
</html>
