<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">Virksomhetssertifikat</title>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        dd {
            margin-bottom: 12pt;
        }

        a.gate {
            font-size: 15pt;
            text-align: center;
            display: block;
            padding: 10pt;
        }
        a.gate span {
            font-size: 30pt;
            display: block;
        }
    </style>
    <th:block layout:fragment="style"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" href="#">Virksomhetssertifikat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <ul sec:authorize="isAuthenticated()" class="nav navbar-nav"> -->
                <li><a th:href="@{/participant}">Participants</a></li>
                <li><a th:href="@{/process}">Processes</a></li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/user}">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <p th:text="${#authentication.name}" class="navbar-text"></p>
                    </li>
                    <li>
                        <form th:action="@{/signout}" method="post">
                            <button type="submit" class="btn btn-warning navbar-btn">Sign out</button>
                        </form>
                    </li>
                </th:block>
                <li sec:authorize="isAnonymous()">
                    <form th:action="@{/signin}" method="get">
                        <button type="submit" class="btn btn-primary navbar-btn">Sign in</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" layout:fragment="content">

</div>

<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<th:block layout:fragment="script"/>

</body>
</html>