<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">Certificates</li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="page-header">
        <div class="pull-right">
            <a th:href="@{/certificate/upload}" class="btn btn-link">Upload certificate</a>
        </div>

        <h1>Certificates</h1>
    </div>

    <div th:if="${list.totalElements == 0}" class="jumbotron">
        <h1>Get started!</h1>
        <p>...</p>
        <p><a th:href="@{/certificate/upload}" class="btn btn-primary btn-lg" role="button">Upload certificate</a></p>
    </div>

    <table th:if="${list.totalElements != 0}" class="table table-striped" id="list">
        <thead>
        <th>Name</th>
        <th style="width: 18%;">Serial number</th>
        <th style="width: 10%;">Expiration</th>
        <th style="width: 20%;">&nbsp;</th>
        </thead>
        <tbody>
        <th:block th:each="item : ${list}">
            <tr>
                <td><a th:href="@{/certificate/{i}(i=${item.identifier})}" th:text="${item.name}"></a></td>
                <td th:text="${item.serialNumber}"></td>
                <td th:text="${#dates.format(item.expirationDate, 'yyyy-MM-dd')}"></td>
                <td style="text-align: right;">
                    <a th:href="@{/certificate/{identifier}/edit(identifier=${item.identifier})}">Edit</a>
                    |
                    <a th:href="@{/certificate/{identifier}/delete(identifier=${item.identifier})}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

</body>
</html>
