<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/certificate}">Certificates</a></li>
        <li class="active">Upload certificate</li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="page-header">
        <h1>Upload certificate</h1>
    </div>

    <form method="post" enctype="multipart/form-data" th:action="${#httpServletRequest.requestURI}" th:object="${form}" class="form-horizontal">

        <th:block th:include="forms :: file('Certificate file', 'file')"/>
        <th:block th:include="forms :: submit('Upload')"/>

    </form>

</div>

</body>
</html>
