<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/certificate}">Certificates</a>
        </li>
        <li class="active" th:text="${certificate.name}">Certificate</li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="page-header">
        <a th:href="@{/issuer/{i}/download(i=${certificate.issuer.identifier})}"
           class="btn pull-right">Download issuer</a>
        <a th:href="@{/certificate/{i}/download(i=${certificate.identifier})}"
        class="btn btn-primary pull-right">Download certificate</a>

        <h1 th:text="${certificate.name}">Certificate</h1>
    </div>

    <dl>
        <dt>Certificate subject</dt>
        <dd th:text="${certificate.subject}"></dd>

        <dt>Serial number</dt>
        <dd th:text="${certificate.serialNumber}"></dd>

        <dt>Expiration</dt>
        <dd th:text="${#dates.format(certificate.expirationDate, 'yyyy-MM-dd')}"></dd>

        <dt>OCSP-path</dt>
        <dd th:text="${certificate.ocspUri == null ? 'Not set' : certificate.ocspUri}"></dd>
    </dl>

    <h2>Issuer</h2>

    <dl>
        <dt>Certificate subject</dt>
        <dd th:text="${certificate.issuer.subject}"></dd>

        <dt>Serial number</dt>
        <dd th:text="${certificate.issuer.serialNumber}"></dd>
    </dl>

</div>

</body>
</html>
