<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/certificate}">Certificates</a>
        </li>
        <li class="active" th:text="${certificate.name}">Certificate</li>
    </ol>

    <div class="page-header">
        <a th:href="@{/certificate/{i}/download(i=${certificate.identifier})}"
           class="btn btn-primary pull-right">Download certificate</a>

        <h1 th:text="${certificate.name}">Certificate</h1>
    </div>

    <dl>
        <dt>Certificate subject</dt>
        <dd th:text="${certificate.subject}"></dd>

        <dt>Certificate issuer</dt>
        <dd th:text="${certificate.issuer}"></dd>

        <dt>Serial number</dt>
        <dd th:text="${certificate.serialNumber}"></dd>
    </dl>

</div>

</body>
</html>
