<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">Processes</li>
    </ol>

    <div class="page-header">
        <div class="pull-right" sec:authorize="hasAnyAuthority('ADMIN')">
            <a th:href="@{/process/add}" class="btn btn-link">Add process</a>
        </div>

        <h1>Processes</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <th>Title</th>
        <th>Domain</th>
        <th style="width: 25%;">Identifier</th>
        <th style="width: 20%;" sec:authorize="hasAnyAuthority('ADMIN')">&nbsp;</th>
        </thead>
        <tbody>
        <th:block th:each="process : ${list}">
            <tr>
                <td><a th:text="${process.title}"
                       th:href="@{/process/{scheme}::{identifier}(scheme=${process.scheme}, identifier=${process.identifier})}">Process
                    title</a></td>
                <td th:text="${process.domain == null ? '' : process.domain.title}"></td>
                <td><span th:title="${process.scheme}" th:text="${process.identifier}"></span></td>
                <td style="text-align: right;" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{/process/{scheme}::{identifier}/edit(scheme=${process.scheme}, identifier=${process.identifier})}">Edit</a>
                    |
                    <a th:href="@{/process/{scheme}::{identifier}/delete(scheme=${process.scheme}, identifier=${process.identifier})}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

</body>
</html>
