<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/participant}">Participants</a></li>
        <li><a th:href="@{/participant/{ps}::{pi}(ps=${participant.scheme}, pi=${participant.identifier})}"
               th:text="${participant.name}">Participant</a></li>
        <li class="active">Users</li>
    </ol>

    <div class="page-header">
        <div class="pull-right">
            <a th:href="@{/participant/{ps}::{pi}/user/add(ps=${participant.scheme}, pi=${participant.identifier})}"
               class="btn btn-link">Add user</a>
        </div>

        <h1>Users</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Email</th>
        </thead>
        <tbody>
        <th:block th:each="user : ${list}">
            <tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

</body>
</html>
