<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">Users</li>
    </ol>

    <div class="page-header">
        <div class="pull-right">
            <a th:href="@{/user/add}" class="btn btn-link">Add user</a>
        </div>

        <h1>Users</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Email</th>
        <th>&nbsp;</th>
        </thead>
        <tbody>
        <th:block th:each="user : ${list}">
            <tr>
                <td><a th:href="@{/user/{identifier}(identifier=${user.identifier})}" th:text="${user.name}"></a></td>
                <td th:text="${user.email}"></td>
                <td style="text-align: right;">
                    <a th:href="@{/user/{i}/edit(i=${user.identifier})}">Edit</a> |
                    <a th:href="@{/user/{i}/delete(i=${user.identifier})}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

</body>
</html>
