<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <div class="page-header">
        <h1>Sign in with email</h1>
    </div>

    <form th:action="${#httpServletRequest.requestURI}" method="post" class="form-horizontal" th:object="${form}">
        <div class="form-group form-group-lg">
            <label for="participant" class="col-sm-4 control-label">Participant identifier</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="participant" th:field="*{participant}" placeholder="e.g. 9908:991825827"/>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('participant')}">
                    <p th:each="err : ${#fields.errors('participant')}" th:text="${err}"></p>
                </div>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email"/>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                </div>
            </div>
        </div>
        <th:block th:include="forms :: submit-lg('Continue')"/>
    </form>

</div>

</body>
</html>
