<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">Exchange Participants</li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="page-header">
        <div class="pull-right">
            <a th:href="@{/sep/add}" class="btn btn-link">Add Sub Exchange Participant</a>
        </div>

        <h1>Exchange Participants</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <th style="width: 25%;">Identifier</th>
        <th>Title</th>
        <th style="width: 20%;">&nbsp;</th>
        </thead>
        <tbody>
        <th:block th:each="participant : ${list}">
            <tr>
                <td th:text="${participant.identifier}"></td>
                <td><a th:text="${participant.name}" th:href="@{/sep/{scheme}::{identifier}(scheme=${participant.scheme}, identifier=${participant.identifier})}">Participant name</a></td>
                <td style="text-align: right;">
                    &nbsp;
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

</body>
</html>
