<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="breadcrumb">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/domain}">Processes</a></li>
        <li><a th:href="@{/domain/{identifier}(identifier=${domain.identifier})}" th:text="${domain.title}">Domain</a></li>
        <li class="active">Delete domain</li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="page-header">
        <h1>Delete domain</h1>
    </div>

    <p class="lead">Are you sure you want to delete the domain <strong th:text="${domain.title}">Domain</strong>?</p>

    <form method="post" th:action="${#httpServletRequest.requestURI}" class="form-horizontal">

        <div class="text-center">
            <button type="submit" class="btn btn-danger btn-lg">Yes</button>
            <a class="btn btn-default btn-lg" th:href="@{/domain}">No</a>
        </div>

    </form>

</div>

</body>
</html>
