<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE" th:text="${@bcp.title}">bcp.title</title>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/bcp.css}" rel="stylesheet"/>
    <th:block layout:fragment="style"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!--/* Brand and toggle get grouped for better mobile display */-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:text="${@bcp.title}">bcp.title</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" sec:authorize="isAnonymous()">
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/process') ? 'active':''}"><a th:href="@{/process}">Processes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAnonymous()">
                    <form th:action="@{/signin}" method="get">
                        <button type="submit" class="btn btn-warning navbar-btn">Sign in</button>
                    </form>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <p class="navbar-text">
                            <span th:text="${#authentication.principal.name}"></span>
                            <span>@</span>
                            <span th:text="${#authentication.principal.participant == null ? 'ADMIN' : #authentication.principal.participant.name}"></span>
                        </p>
                    </li>
                    <li sec:authorize="!hasAnyAuthority('MASQUERADE')">
                        <form th:action="@{/signout}" method="post">
                            <button type="submit" class="btn btn-warning navbar-btn">Sign out</button>
                        </form>
                    </li>
                    <li sec:authorize="hasAnyAuthority('MASQUERADE')">
                        <form th:action="@{/masquerade/back}" method="get">
                            <button type="submit" class="btn btn-warning navbar-btn">Sign out</button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>

<div id="main" class="container-fluid" sec:authorize="isAuthenticated()">
    <div class="row">
        <div class="col-md-2 col-sm-3" style="padding-left: 0;">

            <ul class="nav nav-pills nav-stacked" sec:authorize="hasAuthority('USER')">
                <!-- <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/participant') ? 'active':''}"><a th:href="@{/participant}">Participants</a></li> -->
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/application') ? 'active':''}"><a th:href="@{/application}">Applications</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/certificate') ? 'active':''}"><a th:href="@{/certificate}">Certificates</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/process') ? 'active':''}"><a th:href="@{/process}">Processes</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/user') ? 'active':''}"><a th:href="@{/user}">Users</a></li>
            </ul>

            <ul class="nav nav-pills nav-stacked" sec:authorize="hasAuthority('ADMIN')">
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/participant') ? 'active':''}"><a th:href="@{/participant}">Participants</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/domain') ? 'active':''}"><a th:href="@{/domain}">Domains</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/process') ? 'active':''}"><a th:href="@{/process}">Processes</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/user') ? 'active':''}"><a th:href="@{/user}">Users</a></li>
            </ul>

        </div>
        <div class="col-md-10 col-sm-9">

            <th:block layout:fragment="breadcrumb"/>

            <th:block th:include="fragments :: alerts"/>

            <th:block layout:fragment="content"/>

        </div>
    </div>
</div>

<div id="main" class="container" sec:authorize="!isAuthenticated()">

    <th:block layout:fragment="breadcrumb"/>

    <th:block th:include="fragments :: alerts"/>

    <th:block layout:fragment="content"/>

</div>


<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/bcp.js}"></script>
<th:block layout:fragment="script"/>

</body>
</html>